ul {
  background-color: rgba(62, 87, 200, 0.609);
}

li {
  font-weight: bold;
}

footer {
  margin-top: 13em;
  background-color: rgba(236, 221, 189, 0.566);
  background-size: cover;
}

p#Footer_p {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;

}

main {
  background-size: cover;
}

div#img_2.carousel-item.active {
  height: 0%;
}

p {
  text-align: center;
}

h5 {
  text-align: center;
}